body {
    background: #1f2227;
    font-size: 18px;
}

div {
    text-align: center;
}

h1 {
    color: #FFF;
    font-family: 'Baloo Bhaina 2', cursive;
}

input {
    display: inline-flex;
    align-items: center;
    background: #2c3e50;
    color: #FFF;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    font-size: 25px;
}

option {
  font-family: 'Baloo Bhaina 2', cursive;
}

p, label {
    color: #FFF;
    font-family: 'Baloo Bhaina 2', cursive;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

label {
    padding-top: 10px;
}

.example {
  padding: 0;
  margin: 0;
}

.title {
    background-color: #262626;
    color: #e6b800;
}

.result {
    color: #cc7a00;
}

.output {
    color: #cca300;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   background-color: #2d3239;
}

.credit {
  display: inline;
  margin-right: 20px;
  padding-bottom: 10px;
  text-align: left;
  padding-left: 10px;
  max-width: 50%;
    padding-left: 20px;
}

/* code from https://codepen.io/mroverdoz/pen/BGyXOJ */

.button {
  display: inline-flex;
  align-items: center;
  background: #cca300;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  height: 45px;
  padding: 0 30px;
  color: #fff;
  font-family: 'Baloo Bhaina 2', cursive;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .3s, transform .3s, box-shadow .3s;
  will-change: transform;
  
}

.button:hover {
    background: darken(#cca300,10%);
    box-shadow: 0 4px 17px rgba(0,0,0,0.2);
    transform: translate3d(0, -2px, 0);
  }
.button:active {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    transform: translate3d(0, 1px, 0);
  }  

/* code from https://codepen.io/geoffgraham/pen/bxEVEN */

.j, .d, .s{
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
	background-position: 0 100%;
  padding-left: 20px;
  padding-right: 20px;
	background-repeat: repeat-x;
	background-size: 3px 3px;
  text-decoration: none;
  color: #FFF;
}

.s{
  font-family: 'Rock Salt', cursive;
    text-decoration: none;
}
.d{
  font-family: 'Merriweather', serif;
    text-decoration: none;
}

.j:hover, .d:hover, .s:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}



/* code from https://codepen.io/raubaca/pen/VejpQP */
select {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 18px;
    min-width: 202px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}

/* Remove IE arrow */

select::-ms-expand {
    display: none;
}

/* Custom Select */

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */

.select:hover::after {
    color: #f39c12;
}