body {
    background: #1f2227;
}

div{
  text-align: center;
}

h1 {
    color: #FFF;
    font-family: 'Baloo Bhaina 2', cursive;
}

input {
    display: inline-flex;
    align-items: center;
    background: #2c3e50;
    color: #FFF;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    font-size: 25px;
}

p, label {
    color: #FFF;
    font-family: 'Baloo Bhaina 2', cursive;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

label {
    padding-top: 10px;
}

.button {
    display: inline-flex;
    align-items: center;
    background: #737373;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 45px;
    padding: 0 30px;
    color: #1f2227;
    font-family: 'Baloo Bhaina 2', cursive;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .3s, transform .3s, box-shadow .3s;
    will-change: transform;
}

select {
    font-size: 18px;
    min-width: 202px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}

/* Remove IE arrow */

select::-ms-expand {
    display: none;
}

/* Custom Select */

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
}

/* Arrow */

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */

.select:hover::after {
    color: #f39c12;
}
